---
import Layout from "../layouts/Layout.astro";
import ProfileHeader from "../components/ProfileHeader.astro";
import ProjectsList from "../components/ProjectsList.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import ProfileHeaderLight from "../components/ProfileHeaderLight.astro";

const projectsCollection = await getCollection("projects");
const recentProjectsCollection = await getCollection("recent");
---

<Layout title="Dominik Obłoza - Portfolio">
  <ProfileHeaderLight />

  <ProfileHeader />

  <div class="divider"></div>

  <ProjectsList
    title="Most recent stuff"
    description="Some of my recent private projects"
    projects={recentProjectsCollection}
    hideExtra
  />

  <div class="divider"></div>

  <ProjectsList
    title="Previous "
    description="A collection of my past side projects"
    projects={projectsCollection}
  />

  <div class="divider"></div>

  <Footer />
</Layout>
