---
import { Image } from "astro:assets";
---

<div
  class="fixed bg-d-main w-screen h-screen z-10 top-0 left-0 grid place-items-center fade-in"
>
  <Image src="/favicon.svg" alt="logo" class="fade-in-2" width={30} height={30}/>
</div>
