---
import { IoLogoGithub, IoLogoLinkedin } from "react-icons/io";
import { IoMailOpen } from "react-icons/io5";
import Work from "./Work.astro";
---

<main>
  <div class="divider"></div>

  <section class="text-muted text-sm">
    <h2 class="text-default">About me</h2>

    <p class="mt-3">
      I am Dominik, a Web Developer <span class="text-l-main"
        >specializing in delivering modern and efficient solutions that address
        real business challenges</span
      >. With expertise in designing intuitive and visually appealing user
      interfaces, I create applications that seamlessly combine functionality
      with user experience.
      <br /><br />
      My experience spans projects across industries such as Healthcare & Pharmacy,
      Retail & Marketing, and Transport & Logistics, where I have developed solutions
      that optimize processes, enhance customer engagement, and drive operational
      efficiency.
    </p>
  </section>

  <section class="fc flex-wrap gap-1 mt-6 text-xl">
    <a href="https://www.linkedin.com/in/obloza-dominik/" target="_blank">
      <button class="icon">
        <IoLogoLinkedin title="LinkedIn" />
      </button>
    </a>

    <a href="https://github.com/BLOCKYe" target="_blank">
      <button class="icon">
        <IoLogoGithub title="Github" />
      </button>
    </a>

    <a href="mailto:kontakt@dominikobloza.pl" target="_blank">
      <button class="icon">
        <IoMailOpen title="Mail" />
      </button>
    </a>
  </section>

  <div class="divider"></div>

  <Work />
</main>
