---
import { GiAce } from "react-icons/gi";
---

<section>
  <div class="fc gap-3">
    <a href="/">
      <div class="animate-bounce text-c-main text-2xl">
        <GiAce />
      </div>
    </a>
    <h1>Dominik Obłoza</h1>
  </div>

  <div class="fc mt-1 gap-3">
    <div class="flex items-end gap-2">
      <span class="text-muted text-sm">Warsaw</span>
      <span>Poland</span>
    </div>
  </div>

  <p class="text-muted mt-3">
    Specializing in Web Developing and UI Design, I develop and create solutions
    for <span class="text-default">businesses</span>.
  </p>
</section>
