---
import { IoLogoGithub, IoLogoLinkedin } from "react-icons/io";
import { IoMailOpen } from "react-icons/io5";
import ProfileHeaderLight from "./ProfileHeaderLight.astro";
import Work from "./Work.astro";
---

<main>
  <ProfileHeaderLight />

  <div class="divider"></div>

  <section class="text-muted text-sm">
    <h2 class="text-default">About me</h2>

    <p class="mt-3">
      <span class="text-default">Dominik Obłoza</span>, a Frontend Developer
      with expertise in the development of web services and applications
      utilizing
      <span class="text-default">React & NextJs & Typescript</span>. I am
      well-versed in frameworks such as <span class="text-default"
        >React Redux, TailwindCSS, MaterialUI, Jest, Cypress and Docker</span
      >. My proficiency extends to designing intuitive user interfaces.
    </p>

    <p class="mt-3">
      What distinguishes my professional approach are qualities such asspan <span
        class="text-default"
      >
        ambition, creativity, and commitment</span
      >. I am adept at problem-solving and consistently seek innovative
      solutions. My commitment and fresh perspective contribute to my
      effectiveness in
      <span class="text-default">delivering high-quality results</span>.
    </p>
  </section>

  <section class="fc flex-wrap gap-1 mt-6 text-xl">
    <a href="https://www.linkedin.com/in/obloza-dominik/" target="_blank">
      <button class="icon">
        <IoLogoLinkedin title="LinkedIn" />
      </button>
    </a>

    <a href="https://github.com/BLOCKYe" target="_blank">
      <button class="icon">
        <IoLogoGithub title="Github" />
      </button>
    </a>

    <a href="mailto:kontakt@dominikobloza.pl" target="_blank">
      <button class="icon">
        <IoMailOpen title="Mail" />
      </button>
    </a>
  </section>

  <div class="divider"></div>

  <Work />
</main>
