---
import { GiDoubleFaceMask } from "react-icons/gi";
---

<section transition:persist>
  <div class="fc items-end gap-3 flex-wrap justify-between">
    <div class="fc gap-4">
      <div class="relative">
        <div class="animate-bounce text-c-main text-2xl">
          <GiDoubleFaceMask />
        </div>
        <div
          class="w-[23px] h-[1px] bg-gradient-to-r from-d-main via-l-second to-d-main animate-ping ml-1"
        >
        </div>
      </div>

      <h1>Dominik Obłoza</h1>
    </div>

    <div class="fc mt-1 gap-3">
      <div class="flex items-end gap-2">
        <p class="text-muted">Warsaw,</p>
        <p>Poland</p>
      </div>
    </div>
  </div>

  <p class="text-muted mt-3">
    Crafting and advancing <span class="text-l-main">solutions</span>.
  </p>
</section>
